@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Merriweather:wght@400;700;900&family=Poppins:wght@300;400;500;600;700;800;900&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn {
    align-items: center;
    color: #FFF;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 41px;
    background-color: #E02C6D;
    padding: 10px 24px;
    border: 0;
}

nav {
    max-width: 1180px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 87px;
    align-items: center;
}

nav h4 {
    color: #3A3A3A;

    font-family: 'Poppins';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nav-list {
    display: flex;

}

nav li {
    list-style: none;

}

nav li a {
    margin-right: 34px;
    color: #3A3A3A;

    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;

}

.btn i {
    margin-left: 8px;
}

.icon {
    font-size: 20px;
}

.poster-txt {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    margin: auto 0px;
}

.poster {
    display: flex;
    max-width: 1180px;
    margin: auto;
    justify-content: space-between;

    margin-top: 50px;
}

.poster-txt h4 {
    max-width: 582px;
    color: #3A3A3A;

    font-family: 'Poppins';
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    /* 134.615% */
    margin-bottom: 16px;
}

.poster-txt p {

    max-width: 505px;
    color: #3A3A3A;
    margin-bottom: 16px;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.poster-img img {}

.poster-img {
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 475px;
    height: 475px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sopnser {

    max-width: 1112px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 100px;

}
.main-card{
    max-width: 1120px;
    margin: 0 auto;
   
}
.main-card h1{
    margin-top: 5px;
    display: flex;
    color: #3A3A3A;
font-family: 'Poppins';
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 70px; /* 250% */
margin-bottom: 30px;
justify-content: center;

}
.card{
    
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    gap: 30px;


}
.card-box{
    
    width: 329px;
height: 476px;
border-radius: 5px;
background: #FFF;
box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);

padding: 17px 0px 0px 18px ;


}
.card-box-img{
    width: 300px;
height: 256px;


}
.card-box-img img{
    width: 100%;
    height: 100%;
}
.card-box h4{
    margin-top: 16px;
    color: var(--Text-Gray-900, #18191F);

font-family: 'Poppins';
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 142.857% */
}
.card-box h5{
    color: var(--Dark-Color, rgba(0, 0, 0, 0.87));

/* Inter / 24 sp • H5 */
font-family: 'Inter';
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 36px */
margin-top: 6px;
margin-bottom: 6px;
}
.rating{

    margin-bottom: 10px;
}
.rating i{
    color: #FB8200;
    margin-right: 3px;
}
.rating span{
    color: var(--gray-80, #5E6366);

/* Roboto / Subtitle 2 */
font-family: 'inter';
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 22px; /* 157.143% */
letter-spacing: 0.1px;
}



.card-box p{
    max-width: 196px;
    color: var(--Gray-50, #787885);

/* Inter / Body Small */
font-family: 'Inter';
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 143%; /* 20.02px */
letter-spacing: 0.252px;
    
}
.btn-box{
    display: flex;
    justify-content: flex-end;
}
.btn-see i{
    margin-left: 4px;
}
.btn-see{
    color: rgba(224, 44, 109, 0.87);

font-family: 'Poppins';
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
background-color: #FFF;
border: none;

}
.dawn-box{
    max-width: 1180px;
    display: flex;
    margin: 0 auto;
    margin-top: 100px;
}
.dawn-box-img{
    max-width: 404px;
}
.dawn-box-img img{
    width: 100%;
}
.dawn-box-txt h4{
    color: #0A0826;
font-family: 'Poppins';
font-size: 38px;
font-style: normal;
font-weight: 700;
line-height: 60px; /* 157.895% */
}
.dawn-box-txt{
    
    margin: auto 0;
    margin-left: 96px;

}

.dawn-box-txt p{
    max-width: 501px;
    color: #6C6C6C;
    margin-top: 16px;
margin-bottom: 16px;
font-family: 'Poppins';
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 175% */
}
.dawn-box-txt-btn{
    border-radius: 0px;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #0A0826;
}
footer h3{
    color: #FFF;
margin-bottom: 5px;
font-family: 'Poppins';
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
footer h5,p{
    margin-bottom: 5px;
    color: var(--Text-Gray-300, #D9DBE1);

font-family: 'Manrope';
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 171.429% */
}
footer p{
    margin-bottom: 17px;
}

 footer i{
    margin-right: 16px;
    color: #FFF;
    font-size: 25px;
 }



